* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    239deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(44, 168, 166, 1) 3%,
    rgba(217, 188, 82, 1) 86%,
    rgba(217, 176, 74, 1) 94%,
    rgba(255, 156, 89, 1) 100%
  );

  font-family: "Playfair Display", serif;
  font-weight: 500;
  /* font-style: italic; */

}

section {
  backdrop-filter: blur(5px);
  min-height: 77vh;
}
/* status-bar */
.status-bar .inner {
  /* width: 100%; */
  background-color: #1f885ecd;
  height: 8px;
}
.status-bar .inner .chiled {
  background-color: #144833;
  height: inherit;
  width: 0%;
  transition: width 0.7s;
  box-shadow: -1px 0px 0px 3px #ffffff90 ;

}
.status-number {
  width: 50px;
  height: 50px;
}

form,
.task-cotainer,
.status-bar {
  backdrop-filter: blur(5px);
}

.save-data {
  border: 1px solid #0000003d;
  background-color: transparent;
  color: #fff;
  transition: box-shadow 0.5s;
}

.input-form:focus,
.save-data:hover {
  box-shadow: 4px 5px 5px 2px #8011113d !important;
  border: 1px dashed #0000003d;
}

/* tasks */
.task-cotainer .task-name {
  font-size: 20px;
  cursor: pointer;
  position: relative;
  width: 70%;
  border: 1px solid transparent;
  overflow-wrap: break-word;
  white-space: normal;

}
.task-cotainer .task-name::after  {
  content: "Click To Completed";
  position: absolute;
  top: 140%;
  left: 0;
  background: linear-gradient(
    28deg,
    rgba(64, 60, 128, 1) 0%,
    rgba(70, 70, 163, 1) 39%,
    rgba(3, 135, 168, 1) 79%,
    rgba(20, 144, 168, 1) 100%
  );
  color: #fff;
  padding: 5px;
  border-radius: 6px;
  text-wrap: nowrap;
  pointer-events: none;
  font-size: 15px;
  opacity: 0;
  transition: opacity 0.5s;
}
.task-cotainer .task-name:hover:after {
  opacity: 1;
}
.task-cotainer .checkd-task {
  font-size: 20px;
}
.task-cotainer .delet-task {
  font-size: 20px;
  background-color: #5fae8d;
  color: #fff;
  padding: 5px;
  border-radius: 7px;
  cursor: pointer;
  transition: box-shadow 0.5s;
}
.task-cotainer .delet-task:hover {
  box-shadow: 2px 2px 3px 1px #80111164;
}
.task-cotainer .date{
    cursor: pointer;
    padding-right: 5px;
}
.siting{
    
    position: relative;
}
.siting:active .layer-date{
    opacity: 1;
}
.layer-date{
    position: absolute;
    z-index: 9999999999;
    top:170%;
    left: -600%;
      background: linear-gradient(
    28deg,
    rgba(64, 60, 128, 1) 0%,
    rgba(70, 70, 163, 1) 39%,
    rgba(3, 135, 168, 1) 79%,
    rgba(20, 144, 168, 1) 100%
  );
  color: #fff;
  padding: 5px;
  border-radius: 6px;
  text-wrap: nowrap;
  pointer-events: none;
  font-size: 15px;
  opacity: 0;
  transition: opacity 0.5s;
}
/* start Loding */
.loding {
  background-color: rgba(107, 107, 107, 0.945);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
  }

  .loader:before,
  .loader:after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
  }
  .loader:before {
    animation: ball1 1s infinite;
    background-color: #fff;
    box-shadow: 30px 0 0 #ff3d00;
    margin-bottom: 10px;
  }
  .loader:after {
    animation: ball2 1s infinite;
    background-color: #ff3d00;
    box-shadow: 30px 0 0 #fff;
  }

  @keyframes rotate {
    0% { transform: rotate(0deg) scale(0.8) }
    50% { transform: rotate(360deg) scale(1.2) }
    100% { transform: rotate(720deg) scale(0.8) }
  }

  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #ff3d00;
    }
    50% {
      box-shadow: 0 0 0 #ff3d00;
      margin-bottom: 0;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #ff3d00;
      margin-bottom: 10px;
    }
  }

  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #fff;
    }
    50% {
      box-shadow: 0 0 0 #fff;
      margin-top: -20px;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #fff;
      margin-top: 0;
    }
  }
  
/* End Loding */
